@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

:root {
  /* --primary-color: #5458e8;
  --primary-lite-color: #7579ec; */
  --icon-gray: #545454;
  --primary-bg: white;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
.ant-btn,
.ant-typography,
.ant-input,
.ant-select,
.ant-menu,
.ant-modal,
.ant-table {
  font-family: "Inter", sans-serif !important;
}